<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMPLEADO</title>
</head>
<body>
    <h1>HELLOS PERROS ESTAMOS EN LA PÁGINA EMPLEADO</h1> 
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Identificación</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employee %}
                <tr>
                    <td>{{employee.id}}</td>
                    <td>{{employee.identification}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.age}}</td>
                    <td><a href="">Actualizar</a></td>
                    <td><a href="">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>