<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEHICULO</title>
</head>
<body>
    <h1>HELLOS PERROS ESTAMOS EN LA PÁGINA VEHICULO</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>placa</th>
                <th>tipo</th>
                <th>precio</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicles in vehicles %}
                <tr>
                    <td>{{vehicle.id}}</td>
                    <td>{{vehicle.license_plate}}</td>
                    <td>{{vehicle.vehicle_type}}</td>
                    <td>{{vehicle.vehicle_price}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>